#container{
  height:500px;
  width:500px;
  border:1px solid black;
  position:relative;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  background-color: rgb(8, 9, 33);
  color: white;
}

#profile-img-div{
  height: 80px;
  width: 80px;
  border: 1px solid black;
  border-radius: 50%;
}

#user-picture{
  height: 80px;
  width: 80px;
  border: 1px solid black;
  border-radius: 50%;
}

#user-info-and-content{
  margin-left: 5px;
  flex-basis:80%;
}

#user-name{
  display: inline-block;
  font-size: 24px;
}

#user-handle{
  display: inline-block;
  opacity: 0.5;
}

#user-text{
  word-break: break-all;
  align-self: start;
}

#user-media{
  width: 400px;
  height: 300px;
  margin: auto;
  margin-top: 10px;
  border-radius: 10px;
}

#form{
  width: 250px;
  height: 400px;
  position: relative;
  top: -501px;
  left: 550px;
  border: 1px solid lightblue;
}


